body{
    background-color: 	#2F4F4F;

  }
  .antraste{
     color:#20B2AA;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
  }

  td{
    text-align: center;
  }

  .t {
    border: 1px solid black;
  }

img {
    float: center;
    width:  200px;
    height: 200px;
}
ul.a {
    list-style-type: circle;
  }

  ol.c {
    list-style-type: upper-roman;
  }
  #id{
      text-align: right;
  }